<div class="marginbottom">
  <figure>
    <a
      style="cursor: pointer"
      [routerLink]="[tvshow.id]"
      routerLinkActive="active"

    >
      <img
        [src]="tvshow?.image?.original"
        alt="{{ tvshow.name }}-{{ tvshow.rating.average }}"
        title=" {{ tvshow.name }}"
        class="image-height img-responsive"
      />
    </a>
  </figure>
  <div>
    <span class="title ellipsis" title=" {{ tvshow.name?.trim() }}">
      {{ tvshow.name?.trim() }}
    </span>

    <span class="title" title="Rating-{{ tvshow.rating.average }}"
      ><span class="glyphicon glyphicon-star-empty"></span>
      {{ tvshow.rating.average }}</span
    >
  </div>
</div>

