body {
  background-color: rgb(236, 248, 255);
}
.image-container {
  display: flex;
  /* height: 100vh; */
  /* justify-content: center; */
  align-items: center;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1.5rem;
  line-height: 1.5;
  display: inline-block;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  color: #000;
}
div .ellipsis {
  white-space: nowrap;
  width: 11vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.ellipsis:hover {
  overflow: visible;
}

.marginbottom {
  margin-bottom: 2rem;
}

.imageNotAvailable {
  background: url(src\assets\images\imagenotaailable.png) center center
    no-repeat;
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .image-height {
    width: 8em;
    height: 10em;
  }
  .breakword {
    word-break: break-all;
  }
  .paddingLeft8 {
    padding-left: 8vh;
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  .image-height {
    width: 8em;
    height: 10em;
  }
  .breakword {
    word-break: break-all;
  }
  .paddingLeft15 {
    padding-left: 15vh;
  }
}
@media screen and (min-width: 900px) {
  .image-height {
    width: 10em;
    height: 12em;
  }
  .paddingLeft4 {
    padding-left: 4vh;
  }
}
